html {
  height: 100%;
}

body {
  background-color: #999;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

@keyframes disappear {
  0%    { opacity: 1 }
  50%   { opacity: 1 }
  100%  { opacity: 0 }
}

@keyframes pulse {
  from  { opacity: 0.3 }
  to    { opacity: 0 }
}
